/* common styles */


body{
    font-family: 'Open Sans', sans-serif;
}

.text-primary{
    color: #FD6E0A;
}

.btn-primary{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #FD6E0A;
    padding: 18px 36px;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    background-color: transparent;
}

/* nav styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

nav a{
    text-decoration: none;
    color: #474747;
}
nav a:hover{
    color: #FD6E0A;
    font-weight: 500;
}

.logo{
    font-family: 'Open Sans', sans-serif;
    font-size: 45px;
    font-weight: 800;
}

nav > ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-right: 51px;
    align-items: center;
}
.btn-primary:hover{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #ffff;
    padding: 18px 36px;
    border: nonne;
    border-radius: 5px;
    background-color: #FD6E0A;
    transition: .4s;
}

/* header styles */
.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content{
    max-width: 585px;
}

.banner .profile-pic{
    width: 500px;
}

.banner-greeting{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 0px;
}

.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-description{
    font-size: 18px;
    color: #474747;
    margin-bottom: 30px;
}
